* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;
}

body {
    text-align: center;
    background-color: #c8dcc2;

}

h1 {
    color: #FFFFFF;
    text-shadow: 2px 2px #6d8627;
}

h2 {
    color: #111111;
    font-family: 'Josefin Slab', serif !important;
}

div.box {
    padding: 5px;
    border: 1px solid #c8dcc2;
    margin: 10px 200px 75px 200px;
    background-color: #FFFFFF;
    box-shadow: 5px 10px 8px #a8c29f;
}

nav {
    background-color: #111111;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 20px;
}

nav ul li {
    display: inline;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;

}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

li.selected {
    background-color: #94CB00;
    border-radius: 10px;
}

li.selected a {
    color: #FFFFFF;
}

li.unselected {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #FFFFFF;
    text-shadow: 1px 1px #7d8271;
}

/* Effect when hover in nav bar*/
nav ul li:hover {
    color: #FFFFFF;
    background-color: #94CB00;
    border-radius: 10px;
}

/* Hide all sections initially */
.content-section {
    display: none;
}

/* Show the active section */
.active {
    display: block;
}

/* Hide all sections initially */
.content-section {
    display: none;
}

/* Show the active section */
.active {
    display: block;
}


.transition-container {
    font-size: 48px;
    color: #94CB00;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    /*overflow: hidden;
    position: relative;*/
    width: 100%;
}

.transition-text {
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: fadeInOut 25s infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.transition-text:nth-child(1) {
    animation-delay: 0s;
}

.transition-text:nth-child(2) {
    animation-delay: 5s;
}

.transition-text:nth-child(3) {
    animation-delay: 10s;
}

.transition-text:nth-child(4) {
    animation-delay: 15s;
}

.transition-text:nth-child(5) {
    animation-delay: 20s;
}

/* Default */
.custom-col {
    width: 50%;
    /* Equivalent to s6 (6/12 = 50%) */
    text-align: center;
    /* w3-center */
    padding: 8px;
    /* W3.CSS default padding */
    box-sizing: border-box;
    /* Ensures padding doesn’t affect width */
}


img.img-fit {
    max-width: 100%;
    height: 300px;
    margin: 5px 5px 5px 5px;
}


.image-container {
    display: inline-block;
    position: relative;
}

.image-container img {
    width: 200px;
    /* Set image size */
    height: auto;
    transition: opacity 0.3s ease;
    /* Smooth transition */
    
}

/* Show default image by default */
.image-container .hover-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

/* On hover, hide default image and show the hover image */
.image-container:hover .default-image {
    display: none;
}

.image-container:hover .hover-image {
    display: block;
}

div.contact-form-container {
    padding: 5px;
    background-color: #FFFFFF;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background: #555;
}

.contact-icons a {
    margin: 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

#hiddenParagraph {
    display: none;
    /* Initially hidden */
    /*  margin-bottom: 20px; */
}


/* responsive */
@media (min-width: 375px) and (max-width: 576px) {
    .custom-col {
        width: 100%;
        /* Keep it 50% for small screens */
    }

    .transition-text {
        font-size: 20px;
        height: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    div.box {
        padding: 5px;
        border: 1px solid #c8dcc2;
        margin: 10px 10px 10px 10px;
        background-color: #FFFFFF;
        box-shadow: 5px 10px 8px #a8c29f;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .custom-col {
        width: 80%;
        /* Keep it 50% for small screens */
    }

    .transition-text {
        font-size: 25px;
        height: 25px;
        margin: 10px 0px 75px 0px;
    }

    div.box {
        padding: 5px;
        border: 1px solid #c8dcc2;
        margin: 10px 50px 10px 50px;
        background-color: #FFFFFF;
        box-shadow: 5px 10px 8px #a8c29f;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .custom-col {
        width: 70%;
        /* Keep it 50% for small screens */
    }

    .transition-text {
        font-size: 25px;
        height: 30px;
        margin: 10px 0px 75px 0px;
    }

    div.box {
        padding: 5px;
        border: 1px solid #c8dcc2;
        margin: 10px 100px 10px 100px;
        background-color: #FFFFFF;
        box-shadow: 5px 10px 8px #a8c29f;
    }
}

@media (min-width: 992px) {
    .custom-col {
        width: 50%;
        /* Keep it 50% for small screens */
    }

    .transition-text {
        font-size: 35px;
        height: 40px;
        margin-bottom: 15px;
    }

    div.box {
        padding: 5px;
        border: 1px solid #c8dcc2;
        margin: 10px 150px 10px 150px;
        background-color: #FFFFFF;
        box-shadow: 5px 10px 8px #a8c29f;
    }

}